h1, h2, h3 {
	font-family:"Nimbus Sans L", Verdana, sans-serif;
	font-weight: normal;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
p {
	font-family:Helvetica, Arial, sans-serif;
}
a {
	color: #03c;
	text-decoration: none;
	cursor: pointer; /* The edit a doesn't have a href so needs these manually. */
}
a:hover {
	text-decoration: underline;
}
html {
	background: #059;
}
body {
	margin: 2em 15%;
	padding: 3em;
	background:#fff;
}
